/* Minimal grid
 * Author - Aaditya Taparia */
[class='grid'],
[class^='l-'],
[class^='m-'],
[class^='s-'],
.grid:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

[class^='l-'] {
  float: left;
  min-height: 1px;
}

.grid {
  width: 100%;
  overflow: hidden;
}

.grid:after {
  content: "";
  clear: both;
}

[class^='s-'] {
  float: left;
}

/* Small Columns (use for desktops) */
.s-1 {
  width: 8.33333%;
}

.s-2 {
  width: 16.66667%;
}

.s-3 {
  width: 25%;
}

.s-4 {
  width: 33.33333%;
}

.s-5 {
  width: 41.66667%;
}

.s-6 {
  width: 50%;
}

.s-7 {
  width: 58.33333%;
}

.s-8 {
  width: 66.66667%;
}

.s-9 {
  width: 75%;
}

.s-10 {
  width: 83.33333%;
}

.s-11 {
  width: 91.66667%;
}

.s-12 {
  width: 100%;
}

/* Medium Columns (use for tablets) */
@media only screen and (min-width: 481px) {
  [class^='m-'] {
    float: left;
  }
  .m-1 {
    width: 8.33333%;
  }
  .m-2 {
    width: 16.66667%;
  }
  .m-3 {
    width: 25%;
  }
  .m-4 {
    width: 33.33333%;
  }
  .m-5 {
    width: 41.66667%;
  }
  .m-6 {
    width: 50%;
  }
  .m-7 {
    width: 58.33333%;
  }
  .m-8 {
    width: 66.66667%;
  }
  .m-9 {
    width: 75%;
  }
  .m-10 {
    width: 83.33333%;
  }
  .m-11 {
    width: 91.66667%;
  }
  .m-12 {
    width: 100%;
  }
}

/* Large Columns (use for desktops) */
@media only screen and (min-width: 961px) {
  [class^='l-'] {
    float: left;
  }
  .l-1 {
    width: 8.33333%;
  }
  .l-2 {
    width: 16.66667%;
  }
  .l-3 {
    width: 25%;
  }
  .l-4 {
    width: 33.33333%;
  }
  .l-5 {
    width: 41.66667%;
  }
  .l-6 {
    width: 50%;
  }
  .l-7 {
    width: 58.33333%;
  }
  .l-8 {
    width: 66.66667%;
  }
  .l-9 {
    width: 75%;
  }
  .l-10 {
    width: 83.33333%;
  }
  .l-11 {
    width: 91.66667%;
  }
  .l-12 {
    width: 100%;
  }
  .hide-on-l {
    display: none !important;
  }
}

@media only screen and (max-width: 960px) and (min-width: 481px) {
  .hide-on-m {
    display: none !important;
  }
}

@media only screen and (max-width: 480px) {
  .hide-on-s {
    display: none !important;
  }
}

/* Margin and Padding classes */
.pad-0 {
  padding: 0;
}

.mar-0 {
  margin: 0;
}

.pad-s {
  padding: 8px;
}

.mar-s {
  margin: 8px;
}

.pad-m {
  padding: 16px;
}

.mar-m {
  margin: 16px;
}

.pad-l {
  padding: 24px;
}

.mar-l {
  margin: 24px;
}

.b-1s {
  border: 1px solid #000000;
}

.f-right {
  float: right;
}

.f-left {
  float: left;
}
